/*
@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Bold.woff") format("woff");
}

html,
body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  min-width: 430px;
  border: 2px dashed #c7e4ff;
}

html::before,
body::before,
header::before,
footer::before,
main::before {
  color: #7fc1ff;
}

main,
header,
footer {
  background-color: #f3faff;
  border: 2px solid #7fc1ff;
}

nav,
section,
article,
aside {
  background-color: #f9f7ff;
  border: 2px solid #9779ec;
}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

h1 {
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff994f;
}

h1::before {
  content: "h1";
  color: #ff994f;
}

p {
  background-color: #ffffff;
  border: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  content: "p";
}

* {
  position: relative;
  padding: 25px 25px 20px;
  margin: 0;
  border-radius: 4px;
}

*:not(:last-child) {
  margin-bottom: 20px;
}

*::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
}

html::before {
  content: "html";
}

body::before {
  content: "body";
}

main::before {
  content: "main";
}

header::before {
  content: "header";
}

footer::before {
  content: "footer";
}

section::before {
  content: "section";
}

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

nav::before {
  content: "nav";
}

*/

/*Мои классы*/

/*global*/
body {
  width: 1440px;
  padding: 0;
  margin: 0 auto;

  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  color: #ae7c78;
  font-weight: 400px;
}

.reset-title {
  padding: 0;
  margin: 0;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  color: #ffffff;

  position: absolute;
  width: 285px;
  height: 80px;

  background: #d89999;
  border-radius: 40px;
}

/*Классы header/nav*/

.header_page {
}

.header_nav {
  width: 1440px;
  padding: 0;
  margin: 0;
}

nav.header_nav {
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
}

.header_nav a {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400px;
  font-style: normal;

  text-align: center;

  color: #ae7c78;
}

/*main*/

.main_header h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;

  color: #ae7c78;
}

.main_header p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;

  color: #ae7c78;
}

/*Классы секции преимущества*/

.benefits {
}

.benefits_1 {
}
.benefits_2 {
}

.benefits_3 {
}

.benefits_icon {
}

.benefits_icon_car {
}

.benefits_icon_bouquet {
}

.benefits_icon_photo {
}

.benefits_text {
}
/*Классы секции Популярное*/
.slider_popular {
}
/*Классы секции Разделы каталога*/
.catalog_sections_container {
}

.catalog_sections_element {
  background-color: #ae7c78;
  opacity: 0.6;
  border: orangered solid 2px;
  color: #ffffff;
}

.map {
  background-image: url("/img/map.png");
}
