@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Bold.woff") format("woff");
}

html,
body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  min-width: 430px;
  border: 2px dashed #c7e4ff;
}

html::before,
body::before,
header::before,
footer::before,
main::before {
  color: #7fc1ff;
}

main,
header,
footer {
  background-color: #f3faff;
  border: 2px solid #7fc1ff;
}

nav,
section,
article,
aside {
  background-color: #f9f7ff;
  border: 2px solid #9779ec;
}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

h1 {
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff994f;
}

h1::before {
  content: "h1";
  color: #ff994f;
}

p {
  background-color: #ffffff;
  border: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  content: "p";
}

* {
  position: relative;
  padding: 25px 25px 20px;
  margin: 0;
  border-radius: 4px;
}

*:not(:last-child) {
  margin-bottom: 20px;
}

*::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
}

html::before {
  content: "html";
}

body::before {
  content: "body";
}

main::before {
  content: "main";
}

header::before {
  content: "header";
}

footer::before {
  content: "footer";
}

section::before {
  content: "section";
}

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

nav::before {
  content: "nav";
}

/*Мои классы*/
/*Классы header*/
.header_main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header_main_section1 {
  width: 33%;
  display: inline;
}

.header_main_section2 {
  display: inline;
  width: 33%;
}

.header_main_section3 {
  display: inline;
  width: 33%;
}

/*Классы секции преимущества*/

.benefits {
}

.benefits_1 {
}
.benefits_2 {
}

.benefits_3 {
}

.benefits_icon {
}

.benefits_icon_car {
}

.benefits_icon_bouquet {
}

.benefits_icon_photo {
}

.benefits_text {
}
/*Классы секции Популярное*/
.slider_popular {
}
/*Классы секции Разделы каталога*/
.catalog_sections_container {
}

.catalog_sections_element {
  background-color: #ae7c78;
  opacity: 0.6;
  border: orangered solid 2px;
  color: #ffffff;
}

.map {
  background-image: url("/img/map.png");
}
